
.M1624268064555window_style_clas_{
display: grid;
grid-template-areas: "a b b c d"
"f e e e d";
grid-template-columns: 2px 3fr 15fr 3fr 2px;
grid-template-rows: 1fr 20fr 2px ;
gap:2px;
background-color: deeppink;
position: absolute;
}
.M1624269596707w_style_bar_______{
    grid-area: b;
    background-color: lightseagreen;
}
.M1624269672137w_style_controls__{
    grid-area: c;
    background-color: lawngreen;
}
.M1624270899914w_style_innercont_{
    grid-area: e;
    background-color: rgb(199, 187, 193);
}