<html>
    <head>

<script id="gun_cdn_script" src="https://cdn.jsdelivr.net/npm/gun/gun.js"></script>
<script id="sea_cdn_script" src="https://cdn.jsdelivr.net/npm/gun/sea.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.13.1/underscore-min.js" integrity="sha512-ZuOjyqq409+q6uc49UiBF3fTeyRyP8Qs0Jf/7FxH5LfhqBMzrR5cwbpDA4BgzSo884w6q/+oNdIeHenOqhISGw==" crossorigin="anonymous"></script>
<script id="wsjs_innerscript" src="../../js/core/wsjs.js"></script>
<script src="../../js/cdn/ejs.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
<link id="css_styles_core" rel="stylesheet" href="../../css/styles.css" />

    </head>
    <body>
        <style>
            .fa-check{color:forestgreen}
            .fa-check-square{color:forestgreen}
            .fa-question{color: midnightblue; }
            .fa-ban{color: red; background-color: black; opacity: 0.7;}
            .cont3x3{
                display: grid; visibility: visible;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr;
            grid-template-areas: 'topleft top topright' 'midleft mid midright' 'botleft bot botright';
            }
        </style>
        <!-- <div class="layer" style="display: none; z-index: 200;background-color: deeppink;" id="tasks_layer"> -->
            <!-- <div class="layer" style="display: grid; z-index: 200;background-color: deeppink; visibility: hidden; -->
                <div class="cont3x3 layer"  id="hud_layer" style="visibility: hidden; z-index: 202;">
                <div style="grid-area: topright; background: chartreuse;">
                <div id="happy_hud"></div>
                </div>    
                </div>
                <script>
                    var happiness;
                    var happy_prompt=`
                    <p>How happy are you, %</p>
                    <input type="number" id='happy_input'>
                    <button onclick="user.get('state').get('own_happiness').put(happy_input.value);"></button>`
                    if(happiness==undefined)
                    happy_hud.innerHTML=ejs.render(happy_prompt,{})
                </script>
                <div class="cont3x3 layer"  id="add_task_layer" style="visibility: hidden; z-index: 201;">
                    <div style="grid-area: mid; background-color: midnightblue; height: 100%;">
                    <button onclick="vtoggle(add_task_layer)"><i class="fa fa-times-circle"></i></button>
                    </div>
                </div>

            <div class="cont3x3 layer"  id="todo_layer" style="visibility: visible; background: lavender; z-index: 200;">
            <div style="grid-area: topright;" id="topright_todos"></div>
            <div style="grid-area: topleft;">
            <p>Chose an agent to display the tasks of</p>
            <input type="text" list="todo_agents_datalist" onchange="
            render_todo(this.value);
            " id="todo_agents_input">
            <datalist id="todo_agents_datalist">
                <option value="system"></option>
                <option value="user"></option>
            </datalist><br>
            <p>---------------------------------</p>
            <input type="text" id="add_todo_text">
            <button
            onclick="let v = add_todo_text.value;
            let a = todo_agents_input.value;
            todos[a].push(v);
            render_todo(a);
            "
            >Add todo</button>
            </div>
            <div style="grid-area: top;" id="todo_topmid">topmid</div>
            <div style="grid-area: mid;">mid</div>
            <div style="grid-area: midleft;">left</div>
            <div style="grid-area: midright;">right</div>
            <div style="grid-area: botright;">
            <button>B</button>
            </div>
            </div>
            <div class="cont3x3 layer"  id="tasks_layer" style="visibility: hidden; z-index: 200;">
           <div style="height: 100%; grid-area: midright; background-color: mistyrose; opacity: 0.5;"><div id="show_task_div"></div></div>
           <div style="height: 100%; grid-area: botright;">
        <h3>Be a good person</h3>
        <p>Objectives</p>
        <ul class="fa-ul">
            <li><i class="fa-li fa fa-check-square"></i>Stay healthy</li>
            <li><i class="fa-li fa fa-paperclip"></i>Collect paperclips</li>
            <li><i class="fa-li fa fa-question"></i><button>Add objective</button></li>
            <li><i class="fa-li fa fa-space-shuttle"></i><button>Finalize</button></li>
        </ul>
        </div>
           <div style="height: 100%; grid-area: botleft;">
        <p>Legend:</p>
        <p><i class="fa fa-check-square"></i>All variables are known and fit</p>
        <p><i class="fa fa-question"></i>Somehing is missing/incomplete</p>
        <p><i class="fa fa-ban"></i>Some vars are off</p>
        <p>▰▰▱▱▱▱▱ progress bar (when applicable)</p>
    </div>
           <div style="height: 100%; grid-area: mid;">
            <!-- Importance threshold - optodo -->
            <div id="task_list_div"></div>
   
            </div>
           <div style="height: 100%; grid-area: midleft;">
            <p>System</p>
            <table>
                <tr><th>Task</th><th>Status</th></tr>
                <tr><td>Find check icon</td><td><i class="fas fa-check" ></i></td></tr>
                <tr><td>Add task</td><td><i class="fa fa-spin fa-ban"></i></td></tr>
                <tr><td>Modify task</td><td><i class="fa fa-ban"></i></td></tr>
                <tr><td>Add (re?)action</td><td><i class="fa fa-ban"></i></td></tr>
                <tr><td>?</td></tr>
                <tr></tr>
                <tr></tr>
            </table>
            </div>
            </div>
        <div style="display: grid; grid-template-columns: 50vw 50vw;">
            <div>
                <!-- <button onclick="toggle(tasks_layer);setTimeout(()=>toggle(tasks_layer),4000)">tasks</button> -->
                <button onclick="vtoggle(tasks_layer);//setTimeout(()=>vtoggle(tasks_layer),4000)">tasks</button>
                <button onclick="vtoggle(todos_layer);">todos</button>
                <button onclick="console.table(vars);">Show vars</button><br>
                <textarea id="var_name_area"></textarea><button onclick="add_var(var_name_area.value);" >Add</button>
            <p>---------------------------------</p>
            <button onclick="render_tasks();">render tasks</button>
        </div>
        <div>   <p>todo: tags, agents</p>
                <button onclick="console.clear(); console.table(tasks_priorities);">Show tasks</button><br>
                <textarea id="task_name_area"></textarea><button onclick="create_task(task_name_area.value);" >Create</button>
<p>Task: context needed, sub tasks, performer.</p>
<p>context map</p>
<p>For task in tasks where importance is above threshold</p>
<p></p>
<label>#task</label><input type="number" onchange="
console.clear();console.table(tasks_priorities);
let a=tasks_priorities[this.value];
console.log(a);
if(!a)console.log('!a')
else{
if(tasks[a[0]])
console.log(tasks[a[0]]);
else console.log('no such task, add?');}
"><br>
<button onclick="manage_subs(0);">manage subs</button>
<button onclick="sub_on('pulse');">Sub pulse</button>
<button onclick="sub_off('pulse');">Unsub pulse</button>
<button onclick="process_frame();">Tick</button>
<p>---------------------------------</p>
            </div>
        </div>
        <script>
var gun = Gun();
var subbed={};
var gun_vars;
var agents={'user':{},'system':{},'agent1':{}};
var todos={user:[]};
var solutions={}
var user = gun.user().recall({ sessionStorage: true }, () => {
      logIn()
    });
var state={}
function logIn(){console.info('Logged in as ', user.is);
gun_vars=user.get('vars');
user.get('todos').map().on(e=>{console.log('todo map:',e)})
}
//#region utils
async function default_sign_in(){
    // let text_pair = document.getElementById('text_pair').value;
    let pair = localStorage.getItem('user_pair');
    // if(text_pair){console.log('Logging in with a pasted key', pair);
    // pair=JSON.parse(text_pair);//fixme: validation
    // }
    // else{
    if(!pair){console.log('No pair stored. Creating.');
    pair = await sea.pair();
    localStorage.setItem('user_pair', JSON.stringify(pair));
    console.log('Logged in as a new user.', pair);
    }
    else { pair = JSON.parse(pair); console.log('logged in using saved key: ',pair);}
// }
    user.auth(pair);
}
gun.on('auth', () => {
        logIn();
    })
default_sign_in();

function gun_filter(obj){//todo (attention marker!) might need those nulls sometimes. 
    //swapping whole objects is a chosen strategy for now
    if(_.isObject(obj)){
    let result = {}
    _.keys(obj).forEach(key=>{
        // if(obj[key])//a:0 would be ignored too
            if(key != '_')
                result[key]=obj[key];
    })
    return result;
} else return obj;}
function show_task(key){
    let div = show_task_div;
    console.log(tasks[key].context.tasks[0])
    // console.log(tasks[key][tasks][0])
    let text = `<p><%= tasks[key].context.tasks[0] %></p>`;
    div.innerHTML=ejs.render(text, {tasks: tasks,key: key});
    
};
function render_tasks(){
    let div = task_list_div;
    let text = `         <table>
                <tr><th>Task</th><th>Status</th></tr>
                <tr><td><button onclick="vtoggle(add_task_layer);">Add new task</button></td></tr>
                <% _.keys(tasks).forEach(key=>{ %>
                    <tr><td onclick="show_task('<%= key %>')"><%= key %></td></tr>
                <% }) %>
                <tr><td>Be a good person</td><td><i class="fa fa-question"></i></td></tr>
                <tr><td>?</td></tr>
                <tr></tr>
            </table>`
    div.innerHTML=ejs.render(text,{tasks:tasks})
}
function sub_(gun_obj,callback){
                ev = 2;//placeholder. if it's 2, then node we are subscribing to never existed. .off whole event
                gun_obj.on((data,key,msg,eve)=>{
                    ev=eve;
                    // console.log(eve);
                    callback(data,key);
                })
                return ev;
            }
function sub_on(name){
    //fixme, map resolve for complex objects (a is b thing)
    function cb(data,key){
        // if(!isValid(data)){ return }//validity check, maybe schema, when needed
        // console.log(name,data,key)
        frame[key]=gun_filter(data);
    }
    if(!subbed[name])
subbed[name]=sub_(gun_vars.get(name),cb);
else console.log('already subscrbed',subbed)
}
function sub_off(name){
    if(!subbed[name])
    console.log('not subbed', name);
    else {
        if(subbed[name!=2])
        subbed[name].off();        else 
        gun_vars.get(name).off();//removes all, but we don't use multiple anyways. prob fixme
    delete subbed[name];}
}
function manage_subs(threshold){
                vars.forEach(e=>{
                    if(e[1]>=threshold){
                        sub_on(e[0])
                    }
                    else sub_off(e[0]);
                })
                console.log('subbed',subbed)
            }
            var tasks_status={}
            var vars=[['pulse',3],['lights',0],['sugar',2],['task_submit',0],['test',2],['brain_works',5]];//name, importance
            var something_else='?';//fixme. special marker, that we should add here
            var tasks_priorities=[['stay healthy',0.9],['be happy', 0],['become',0]]//be happy isn't here, task add 
            var tasks={'stay healthy':{context:{vars:['pulse','sugar']
            //vars - top level context. not counting needed for subs. usually reports from subs go there
            ,tasks:['pulse_is_ok',something_else],}},
    }//context - names
    function load_tasks_status(){//fixme: clear old
        _.keys(tasks).forEach(key=>{
            console.log('update_status',key);
            tasks_status[key]='?'
        })
    }
    load_tasks_status();
    var ui_frame=[];
    var reactions={test_alert:function(){alert('test')}};
    var frame={};//changed vars. update sets those. ones above threshold are subscribed to
    var reverse_index={'test':'test_alert'}//name to callbacks (react) react as in reaction
function resolve(name){
    // sees what to recalculate for updated state
    // Object.keys(tasks_priorities)
    // for(i=0;i<tasks_priorities.length;i++)
    // tasks_priorities
}
function process_frame(){
    console.log('process frame', frame)
    const t0 = performance.now();
    Object.keys(frame).forEach(key=>{
state[key]=frame[key];
resolve(key)
    })
    frame={}
    const took = performance.now()-t0;
    console.log('took, ms:',took)
    return took;
}
function force_frame(threshold){
//manually loads (once) vars we ignored.. maybe second threshold for delayed?
//like remember but do nothing fo now
}
            var recalc_importance_threshold=2;
            function compare_priorities(a,b){
                return b[1]-a[1];
            }
            //urgent task - raise the priority, maybe change threshold.
            //idling - lower threshold (lower - verb)
            vars=vars.sort(compare_priorities);
            function show_important(){
            }
            console.table(vars)
            console.table(tasks_priorities)
        </script>
        <script>
            function add_var(name,priority){
                if(priority)
                vars.push([name, priority]);
                //arr.splice(getindex(priority), 0, [name, priority]);
                else
                vars.push([name, 0]);
            }
            function create_task(name,priority){
                // if(priority)
                // tasks.push([name, priority]);
                // //arr.splice(getindex(priority), 0, [name, priority]);
                // else
                tasks[name]={};
            }
            function render_todo(agent){
                let text = `<p>Todo for <%= agent %> :</p>
        <ul class="fa-ul">
            <% todos[agent].forEach(e=>{ %>
                    <li onclick='render_solutions("<%= e %>")'><%= e %></li>
                <% }) %>
                `;
                console.log(todos[agent])
                todo_topmid.innerHTML=ejs.render(text,{agent:agent,todos:todos})
            }
            function render_solutions(task){
                let text=`Solutions for <%= task %>:
                <% if(solutions[task]){ %>
                <p>solutions[task]</p>
                <% } else {%>
                    <p>There's no solution for <%= task %> yet.</p>
                    <% } %>
                <br><button onclick="let name= <%= task %>;console.log(name);">Add</button>
                <br><button>Discover</button>

                `;
                topright_todos.innerHTML=ejs.render(text,{task:task, solutions:solutions})
            }
        </script>
    </body>
</html>